.anclas:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #000;
}

.carousel-image {
    width: 50%;
    height: 300px; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen */
}

/* Ajustes generales */
.container, .row, .col {
    padding: 0;
    margin: 0;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.carousel-inner img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-height: 555px; /* Ajusta a una altura más pequeña */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}
.card {
    border: 0px;
}

.card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto de resaltado al pasar el ratón */
.card img:hover {
    transform: scale(1.03); /* Incrementa ligeramente el tamaño */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Aplica una sombra */
    cursor: pointer;
}

.contacto {
    border: 1px solid grey;
    border-radius: 5px;
}

.logo {
    text-decoration: none;
}

footer a img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto de resaltado al pasar el ratón */
footer a img:hover {
    transform: scale(1.1); /* Incrementa ligeramente el tamaño */
}

.contraste {
    color: black;
}

.barra {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.bodycolor {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.footercolor {
    background-color: #2c3e50;
}

.botonsaber {
    background-color: #34495e;
    color: #ecf0f1;
}

.botonsaber:hover {
    background-color: #2a353f;
    color: #ecf0f1;
}

.barrahtml {
    background-color: #e65100;
}

.barracss {
    background-color: #42a5f5;
}

.barraboot {
    background-color: #6c3ec1;
}

.barraphp {
    background-color: #1f79c8;
}

.barrajs {
    background-color: #ffca28;
}

.barrajava {
    background-color: #f44336;
}

.barrasql {
    background-color: green;
}

/* .colorespaleta {
    color: #2c3e50 (Gris Pizarra Oscuro Primario);

    color: #1abc9c (Verde Azulado Oscuro Secundario);

    color: #34495e (Azul Noche Acento);

    color: #ecf0f1 (Blanco Niebla Fondo);

    color: #2c3e50 (Gris Pizarra Oscuro Texto);
} */

