body {
    position: relative;
}

.anclas:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    border-bottom: 2px solid #000;
    transition: border-top 0.3s ease-in-out;
}

.carousel-image {
    width: 50%;
    height: 300px; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen */
}

/* Otros ajustes generales */
.container, .row, .col {
    padding: 0;
    margin: 0;
}
.card img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.carousel-inner img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-height: 555px; /* Ajusta a una altura más pequeña */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}
.card {
    border: 0px;
}

.contacto {
    border: 1px solid grey;
    border-radius: 10px;
}

.logo {
    text-decoration: none;
}

.contraste {
    color: black;
}

.barra {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.bodycolor {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.footercolor {
    background-color: #2c3e50;
}

/* .colorespaleta {
    color: #2c3e50 (Gris Pizarra Oscuro Primario);

    color: #1abc9c (Verde Azulado Oscuro Secundario);

    color: #34495e (Azul Noche Acento);

    color: #ecf0f1 (Blanco Niebla Fondo);

    color: #2c3e50 (Gris Pizarra Oscuro Texto);
} */

