body {
    position: relative;
}

.anclas:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    border-bottom: 2px solid #000;
    transition: border-top 0.3s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 300px; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen */
}

/* Otros ajustes generales */
.container, .row, .col {
    padding: 0;
    margin: 0;
}
.card img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.card {
    border: 0px;
}

.contacto {
    border: 1px solid grey;
}

